* {
    font-family: Calibri, 'Trebuchet MS', sans-serif;

    padding: 0;
    margin: 0;
}

body {
    height: auto;
    background-image: url('assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

td {
    padding: 20px;
    text-align: center;
}

th {
    padding: 3px;
}

.container {
    width: 800px;
    height: 500px;

    padding: 20px;
    margin: 200px auto 0;
}

.box {
    height: 90%;
    padding: 20px;

    background-color: #838383bf;
    border-radius: 25px;
}

.input-box {
    height: 200px;
    padding: 10px;
    margin-top: 80px;
}

.user-input {
    width: 170px;
    padding: 15px;
    margin: 50px 10px 0 10px;

    background-color: #f5f5f5;

    border: none;
    border-radius: 5px;
}

.user-input:focus, .user-input:hover {
    outline: none;
    box-shadow: 0px 0px 10px rgba(45, 45, 45, 0.95);
}

.btn-holder {
    width: fit-content;
    margin: 15% auto 0;
}

.btn {
    padding: 10px;

    background-color: #f5f5f5;

    border-radius: 5px;
    border: none;
}

.btn:hover{
    outline: none;
    box-shadow: 0px 0px 10px rgba(45, 45, 45, 0.95);
}

.row {
    height: 150px;
}

.avatar {
    width: 150px;
    height: 150px;

    border-radius: 100px;

    float: left;
}

.image {
    width: 150px;
    height: 150px;

    object-fit: cover;

    border-radius: 100px;
}

.person {
    width: 250px;
    margin: 50px 25px 0 0;

    float: right;

    text-align: center;
}

.details {
    margin-top: 10px;

    height: 275px;

    padding: 10px;
}

.details-table {
    min-width: 400px;
    padding: 25px;
    margin: 0 auto;

    border-collapse: collapse;

    font-size: 0.9em;
    font-family: sans-serif;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
}

#info-box {
    width: 55%;
    float: left;
}

#form-box {
    width: 30%;
    float: right;
}

#message {
    height: 40px;
    text-align: center;
}